@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html ,body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #190b1f;
  }
  
  h2 {
    @apply text-xl md:text-4xl
  }
  
  p {
    @apply text-xl tracking-tight leading-relaxed
  }
  
  .text-gradient {
  background: linear-gradient(270deg, #8d9bf2,
    #8e2de2,
    #4a00e0,
    #8e2de2,
    #8c9aeb);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animateGradient 4s linear infinite;
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 15s linear infinite;
  width:  max-content;
}  
  
  .shiny-effect {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    background: radial-gradient(circle, rgba(178, 19, 202, 0.2), transparent 70%);  
  }

  
  .bg-primary-color {
      @apply bg-purple-600
  }